/*
* TABLES
*/
table {
  	border-collapse:collapse;
	width:100%;
}
th {
  	background-color:#959595;
  	color:white;
}
th, td {
	border:1px solid #666666;
	font-size:13px;
	padding:2px;
}
a {
	margin:0 20px 0 20px;
}