body {
	font-size:12px;
	font-family:courier;
	word-spacing:-3px;
}
h1 {
	background-color:#595D60;
	color:white;
	height:60px;
	line-height:60px;
	text-align:center;
	margin:0;
}
h3 {
	clear:both;
	background-color:#001F7A;
	color:white;
	height:30px;
	line-height:30px;
	text-align:center;
	margin:0;
}
h4 {
	clear:both;
	background-color:#6666FF;
	height:20px;
	line-height:20px;
	text-align:center;
	margin:0;
}
h4.title {
	background-color:#8B8E90!important;
	color:white;
}
div.menu {
	text-align:center;
	background-color:#8B8E90;
}
div.menu a:link, div.menu a:visited, div.menu a:hover, div.menu a:active {
	color:white;
	text-decoration:none;
	font-size:1em;
}
div.leftColumn {
	box-sizing:border-box;
	float:left;
	width:50%;
	border-right:1px solid black;
}
div.rightColumn {
	box-sizing:border-box;
	float:left;
	width:50%;
}
div.summaryLeft {
	box-sizing:border-box;
	width:50%;
	float:left;
	text-align:right;	
}
div.summaryRight {
	box-sizing:border-box;
	width:50%;
	float:left;
	text-align:left;
	padding-left:20px;
}
div.note {
	clear:both;
	text-align:center;
}
div.important {
	background-color:#FFFFCC;
}
div.note a {
	padding-left:0px!important;	
}
div.footer {
	clear:both;
	background-color:#8B8E90;
	color:white;
	font-size:0.8em;
	text-align:center;
}
a:link, a:visited, a:active {
	display:inline-block;
	font-weight:bold;
	color:black;
	padding:1em 0 1em 1.4em;
}
a:hover {
	color:#6666FF;
}
code {
	font-size:0.9em;
}